build_dir*/
CMakeCache.txt
CMakeFiles/*
**/CMakeFiles/*
Makefile
*.make
_deps/*
cmake_install.cmake
opengl/**/*.cmake
bin/*
assets/assets.hpp
*.iml
.gradle
local.properties
.idea/*
.DS_Store
build/*
captures/*
.externalNativeBuild
.cxx
